/* reset */
html {
    font-size: 625%;
}
body {
    margin: 0;
    font-size: 16px;
    color: #fff;
    background: #6ccdd5;
}
p{
    line-height: 1.6;
}
.mainbody {
    position: relative;
    padding: 1rem 15% 0.25rem 15%;
}
.back {
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    background-image: url("./001.png");
    background-size: 0.5rem;
}
.head{
    margin: 0 0 0.8rem 0;
    text-align: center;
}
.head>img{
    max-width: 1.9rem;
}
.foot{
    padding: 1rem 0 0 0;
    overflow: hidden;
}
.foot-left{
    min-width: 0.6rem;
    text-align: center;
    float: left;
}
.foot-left>div{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    text-align: center;
}
.foot-right{
    min-width: 0.6rem;
    text-align: center;
    float: right;
}
.foot-right>div{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    text-align: center;
}
.icon_left {
    background-image: url("./003.png");
    background-size: 100%;
}
.icon_right {
    background-image: url("./004.png");
    background-size: 100%;
}
